.revert { padding-bottom:30px;}
.revert .pull-right{ margin-top:-5px;}
.revert .blue{ display:inline-block;vertical-align: top;line-height:30px; padding-right:15px;}
.revert .onoffswitch{ display:inline-block}

.fontwrpper h3{color:#1268AD; font-size:18px; margin-bottom:30px;}
.fontwrpper h5,
.fontwrpper h6{margin-top:30px;margin-bottom:10px;color:#727272;}
.fontwrpper h5{margin-bottom:15px;}
.fontwrpper img{width:100%;}
.fontwrpper .radio{ position:relative;margin:0;min-width: 40%;}
.fontwrpper .radio input[type="radio"] + label{font-size:16px;font-weight:500}
.fontwrpper .radio label{color:#999;font-size: 15px;font-weight: 500;padding-left: 40px;}
.fontwrpper .radio i{position: absolute;left:0;top:0;}
.fontwrpper i::before{margin:0 !important;width: 30px !important;height: 30px !important;border: 1px solid #bbb !important;background-color: #fff!important;}
.fontwrpper i::after{top:4px !important;;left:4px !important;width: 22px !important;height: 22px !important;border: 0 !important;background-color:#00A7F8 !important;}
.fontwrpper label{display:block;margin:0 0 20px 0; vertical-align:middle;}
.fontwrpper .clmn1,
.fontwrpper .clmn2,
.fontwrpper .clmn3{float:left;}
.fontwrpper .clmn1{width:20%}
.fontwrpper .clmn2{width:30%;position:relative;}
.fontwrpper .clmn3{width:50%;padding-left:30px;}
.fontwrpper .clmn3 img{padding:10%;}
.fontwrpper .clmn1 h3{ margin-bottom:35px;}
.fontwrpper .clmn2 h3{ padding-left:60px;}
.fontwrpper .mid{border-left:1px solid #D0D0D0;border-right:1px solid #D0D0D0; margin:-50px 0 0 0; padding:75px 20px 30px 20px;min-height:600px; max-height:600px; overflow:auto;}
.fontwrpper .mid label{padding-left:45px;padding-top: 5px;margin:0 0 20px 0;}
.fontwrpper .mid label i{position: absolute;left:0;top:0;}
.fontwrpper .mid .fontname{padding:0;margin:0}
.fontwrpper .fontauth{ margin:0; font-size:12px; color:#6E6E6E; position:relative;}
.fontwrpper .fontdes{color:#125071; display:block;width:100%;padding:10px 0;}
.fontwrpper .formcontrol{width:100px;}
.fontwrpper .filter-option{color: #777;font-weight: normal;font-size: 14px;}
.fontwrpper .dropdown-menu{left:0;}

.appliedfont{top:0;left:20px;width:80%;background:#fff;padding-bottom:10px !important;z-index:99;}
.appliedfont label{padding:0 !important;margin:0;}

.searchfont{ position:relative;display: flex;padding-top:20px}
.searchfont .df{ position:absolute;top:0;right:0; font-size:22px; color:#a4a4a4}
.searchfont .form-group{padding-right:30px;}
.searchfont input{
    border:none;
    border-bottom:1px solid #95989A;
    padding-bottom:5px;
    padding-right:30px;
    color:#00A7F8;
    font-size:15px;
    width:100%;
  }
.rightpanel{padding:80px 60px 0 60px !important;}
.rightpanel h3{margin-bottom: 5px;font-size: 16px;line-height: 16px;font-weight: bold;}
.rightpanel p{margin-bottom:50px;font-size:12px;color:#777}
.rightpanel .form-label{position:absolute;top:-22px;left:0;font-size:13px;color:#777;opacity:1;}
.rightpanel .form-group{padding:0 0 5px 0;border: 0;border-bottom: 1px solid #ccc;position:relative;margin-bottom:40px;}
.rightpanel .form-group span{color:#234873}
.rightpanel .form-group.mid{border: 0;}

.rightpanel .col{width:45%;float:left;}
.rightpanel .midcol{width:5%;float:left;margin-left:4%;height: 30px;border:0;border-left:2px solid #234873}
.rightpanel .backbtn{color:#95989a;font-size:12px;margin-top:8px;display: flex;align-items: center;}
.rightpanel .backbtn .df{font-size:16px;margin:0;}
.rightpanel .btn{background:#00A7F8}

.btns{padding-left:90px !important;}

.custom-checkbox{display: flex;margin-bottom:30px !important;}
.custom-checkbox i{position: absolute;left:0;top:0;}
.custom-checkbox i::before{border-radius: 0 !important;margin:0 !important;width: 30px !important;height: 30px !important;border: 1px solid #bbb !important;background-color: #fff!important;}
.custom-checkbox i::after{border-radius: 0 !important;top:4px !important;;left:4px !important;width: 22px !important;height: 22px !important;border: 0 !important;background-color:#00A7F8 !important;}
.custom-checkbox label{display:block;margin:0; vertical-align:middle;}
.custom-checkbox .fontfam{margin-top:5px;}

.custom-checkbox [type="checkbox"]:not(:checked) + i:after,
.custom-checkbox [type="checkbox"]:checked + i:after {
    transition: all .2s;
}
.custom-checkbox [type="checkbox"]:not(:checked) + i:after {
    opacity: 0;
    transform: scale(0);
}
.custom-checkbox [type="checkbox"]:checked + i:after {
    opacity: 1;
    transform: scale(1);
}

/*@media only screen and (max-width:1367px){
    .fontwrpper .clmn1{width:20%}
    .fontwrpper .clmn2{width:50%}
    .fontwrpper .clmn3{width:30%}
}*/

@media only screen and (max-width:1023px){
    .revert .pull-right{width:100%; margin-top:15px;}
}

@media only screen and (max-width:800px){
    .fontwrpper .clmn1{width:35%}
    .fontwrpper .clmn2{width:65%;}
    .fontwrpper .mid{margin:0; margin-left:30px;}
    .fontwrpper .clmn3{width:100%; margin-top:30px;}
    .fontwrpper .clmn3 img{padding:0;}
}

@import url("https://fonts.googleapis.com/css?family=Advent+Pro"); @import url("https://fonts.googleapis.com/css?family=Alegreya+Sans"); @import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC"); @import url("https://fonts.googleapis.com/css?family=Arima+Madurai"); @import url("https://fonts.googleapis.com/css?family=Athiti"); @import url("https://fonts.googleapis.com/css?family=Atma"); @import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree"); @import url("https://fonts.googleapis.com/css?family=Barlow"); @import url("https://fonts.googleapis.com/css?family=Barlow+Condensed"); @import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed"); @import url("https://fonts.googleapis.com/css?family=Catamaran"); @import url("https://fonts.googleapis.com/css?family=Chakra+Petch"); @import url("https://fonts.googleapis.com/css?family=Changa"); @import url("https://fonts.googleapis.com/css?family=Cormorant"); @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond"); @import url("https://fonts.googleapis.com/css?family=Cormorant+Infant"); @import url("https://fonts.googleapis.com/css?family=Cormorant+SC"); @import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase"); @import url("https://fonts.googleapis.com/css?family=Cormorant+Upright"); @import url("https://fonts.googleapis.com/css?family=Dosis"); @import url("https://fonts.googleapis.com/css?family=Encode+Sans"); @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed"); @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded"); @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed"); @import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded"); @import url("https://fonts.googleapis.com/css?family=Exo"); @import url("https://fonts.googleapis.com/css?family=Exo+2"); @import url("https://fonts.googleapis.com/css?family=Fahkwang"); @import url("https://fonts.googleapis.com/css?family=Fira+Sans"); @import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed"); @import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed"); @import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre"); @import url("https://fonts.googleapis.com/css?family=Gothic+A1"); @import url("https://fonts.googleapis.com/css?family=Halant"); @import url("https://fonts.googleapis.com/css?family=Heebo"); @import url("https://fonts.googleapis.com/css?family=Hind"); @import url("https://fonts.googleapis.com/css?family=Hind+Guntur"); @import url("https://fonts.googleapis.com/css?family=Hind+Madurai"); @import url("https://fonts.googleapis.com/css?family=Hind+Siliguri"); @import url("https://fonts.googleapis.com/css?family=Hind+Vadodara"); @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono"); @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans"); @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed"); @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif"); @import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua"); @import url("https://fonts.googleapis.com/css?family=Jura"); @import url("https://fonts.googleapis.com/css?family=K2D"); @import url("https://fonts.googleapis.com/css?family=Kanit"); @import url("https://fonts.googleapis.com/css?family=Karma"); @import url("https://fonts.googleapis.com/css?family=Khand"); @import url("https://fonts.googleapis.com/css?family=KoHo"); @import url("https://fonts.googleapis.com/css?family=Kodchasan"); @import url("https://fonts.googleapis.com/css?family=Krub"); @import url("https://fonts.googleapis.com/css?family=Laila"); @import url("https://fonts.googleapis.com/css?family=Libre+Franklin"); @import url("https://fonts.googleapis.com/css?family=M+PLUS+1p"); @import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"); @import url("https://fonts.googleapis.com/css?family=Mada"); @import url("https://fonts.googleapis.com/css?family=Maitree"); @import url("https://fonts.googleapis.com/css?family=Mali"); @import url("https://fonts.googleapis.com/css?family=Mitr"); @import url("https://fonts.googleapis.com/css?family=Montserrat"); @import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates"); @import url("https://fonts.googleapis.com/css?family=Mukta"); @import url("https://fonts.googleapis.com/css?family=Mukta+Mahee"); @import url("https://fonts.googleapis.com/css?family=Mukta+Malar"); @import url("https://fonts.googleapis.com/css?family=Mukta+Vaani"); @import url("https://fonts.googleapis.com/css?family=Niramit"); @import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP"); @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR"); @import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC"); @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC"); @import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP"); @import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR"); @import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC"); @import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC"); @import url("https://fonts.googleapis.com/css?family=Oswald"); @import url("https://fonts.googleapis.com/css?family=Palanquin"); @import url("https://fonts.googleapis.com/css?family=Poppins"); @import url("https://fonts.googleapis.com/css?family=Pridi"); @import url("https://fonts.googleapis.com/css?family=Prompt"); @import url("https://fonts.googleapis.com/css?family=Quicksand"); @import url("https://fonts.googleapis.com/css?family=Rajdhani"); @import url("https://fonts.googleapis.com/css?family=Raleway"); @import url("https://fonts.googleapis.com/css?family=Rasa"); @import url("https://fonts.googleapis.com/css?family=Roboto"); @import url("https://fonts.googleapis.com/css?family=Roboto+Mono"); @import url("https://fonts.googleapis.com/css?family=Rokkitt"); @import url("https://fonts.googleapis.com/css?family=Rubik"); @import url("https://fonts.googleapis.com/css?family=Saira"); @import url("https://fonts.googleapis.com/css?family=Saira+Condensed"); @import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed"); @import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"); @import url("https://fonts.googleapis.com/css?family=Sarabun"); @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro"); @import url("https://fonts.googleapis.com/css?family=Spectral"); @import url("https://fonts.googleapis.com/css?family=Spectral+SC"); @import url("https://fonts.googleapis.com/css?family=Tajawal"); @import url("https://fonts.googleapis.com/css?family=Taviraj"); @import url("https://fonts.googleapis.com/css?family=Teko"); @import url("https://fonts.googleapis.com/css?family=Trirong"); @import url("https://fonts.googleapis.com/css?family=Ubuntu"); @import url("https://fonts.googleapis.com/css?family=Work+Sans"); @import url("https://fonts.googleapis.com/css?family=Yantramanav"); @import url("https://fonts.googleapis.com/css?family=Yrsa"); @import url("https://fonts.googleapis.com/css?family=Zilla+Slab");