.revert { padding-bottom:30px;}
.revert .pull-right{ margin-top:-5px;}
.revert .blue{ display:inline-block;vertical-align: top;line-height:30px; padding-right:15px;}
.revert .onoffswitch{ display:inline-block}

.graphics h3{color:#1268AD; font-size:18px; margin-bottom:20px;}
.graphics .clmnL,
.graphics .tabs__labels{float:left;width:21%;border-right:1px solid #D0D0D0;padding-right:20px;height:700px; position:relative}
.graphics .clmnL{border:0;height:auto;}
.graphics .tabs__labels{padding-top:20px;}
.graphics .tabs__labels li {border:0;margin:0;width:100%;float:none;}
.graphics .tabs__labels li button,
.graphics .tabs__labels li button:hover,
.graphics .tabs__labels li button:focus{ display:block;padding:15px;background:transparent; color:#6E6E6E;border:0;text-align:left; font-weight:300}
.graphics .tabs__labels li button.active{border-bottom:1px solid #fff;background:#125071;color:#fff; }
.graphics .clmnR,
.graphics .tabs__content{border:0;margin:0;width:75%;margin-left:3%;float:left;padding:0;position:relative}
.graphics .tabs__content{padding-top:30px;}
.graphics .clmna,
.graphics .clmnb,
.graphics .clmnc{float:left;}
.graphics .clmna{width:34%}
.graphics .clmnb{width:34%; margin:0 3%;}
.graphics .clmnc{width:26%}
.graphics table{ margin-bottom:10px;}
.graphics .upload{border:1px dashed #939598;margin-bottom:10px; text-align:center;display:flex;position:relative; align-items:center;justify-content: center;min-height:180px;}
.graphics .upload section,
.graphics .upload section div{height:100%;width:100%;display: flex;align-items: center;justify-content: center;position: absolute;
    top: 0; left: 0;}
.graphics .upload aside{margin-top: 0 !important; height: 100%; position: absolute;
    top: 0; left: 0; width: 100%;
}
.graphics .upload aside div{
    display: flex; border-radius: 0 !important; border: 0 !important;  margin: 0 !important; width: 100% !important;
    height: 100% !important; padding: 5px !important;
}
.graphics .upload aside span{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
    background: rgba(0,0,0,.8);
    color:#fff;
    font-weight:bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graphics .upload .file-upload{position: absolute;height:100%;z-index: 999;}
.graphics .upload .file-upload.hide-icon p{display:none}

.graphics .bgimg{ max-width:100%;width:100%;}
.graphics .type-title{color:#6E6E6E;margin-bottom:10px;}
.graphics .df{ color:#00A7F8;}
.graphics .df-info{ font-size:22px; width:22px; height:22px; line-height:22px;vertical-align: bottom; margin-left:6px}
.graphics .df-upload{ font-size:30px; width:30px; height:30px; line-height:30px;}
.graphics .df-trash{ font-size:22px; width:22px; height:22px; line-height:22px;margin-top: -18px;}
.graphics small{ font-size:12px; color:#6E6E6E;}

.radio-button i{float:left;}
.radio-button i::before{margin:0 !important;width: 30px !important;height: 30px !important;border: 1px solid #bbb !important;background-color: #fff!important;}
.radio-button i::after{top:4px !important;;left:4px !important;width: 22px !important;height: 22px !important;border: 0 !important;background-color:#00A7F8 !important;}
.radio-button label{display:block;margin-bottom:20px !important; vertical-align:middle;overflow:hidden}

.revert-to-default{margin-top: -125px; display: flex;align-items: center;}
.revert-to-default span{font-size:16px}
.revert-to-default label{margin:0 !important;}
.revert-to-default .onoffswitch{margin-left:15px;}

.video-block {
    border: 1px dashed #939598;
    display:flex;
    align-items: center;
    jsutify-content:center;
    margin-bottom: 10px;
    min-height:300px;
}

.btnpreview{padding:0;}
.btnpreview .btn{min-width: 100px;margin:0;margin-left:10px}

.images .vline{ margin:0 10px;line-height:30px;border-right:1px solid #95989A;}
.images .pull-right{font-size:12px; color:#6E6E6E;display:flex;    align-items: center;}
.images .df-trash{margin-top:0;vertical-align: middle;}
.images .spacer{ clear:both; height:40px; line-height:40px;}

.replacevideo{ margin-top:30px;color:#777;font-size:12px;padding-right:0;}
.replacevideo h5{margin:0;color:#6E6E6E;font-size:14px; font-weight:500}
.replacevideo input{width:100%;margin:15px 0;border:1px solid #D3D3D3; padding:5px; color:#777; font-size:12px;}
.replacevideo .social-icons{display:flex;align-items:center;}
.replacevideo .df{background:#00A7F8; color:#fff;font-size:24px;margin-left:6px;padding:5px;border-radius:4px;}
.replacevideo .df-soc-utube{background:#CB1A1A; color:#fff;}

.icon-styles .icons{margin-left:40px}
.icon-styles .df{color:#95989A;font-size:28px; width:28px; height:28px;vertical-align: middle;margin:0 12px}
.icon-styles .df::before{border:0 !important;}
.icon-styles p{display: inline-flex;margin-bottom:30px;color:#6E6E6E;font-size:17px;}
.icon-styles .df-info{color:#00A7F8;font-size:22px;width:22px; height:22px;vertical-align: top;}

.style2grhic .s2a{background-position: 0 0}
.style2grhic .s2b{background-position: -37px 0}
.style2grhic .s2c{background-position: -79px 0}
.style2grhic .s2d{background-position: -116px 0}
.style2grhic .s2e{background-position: 0 -31px}
.style2grhic .s2f{background-position: -37px -31px}
.style2grhic .s2g{background-position: -79px -31px}
.style2grhic .s2h{background-position: -116px -31px}
.style2grhic .s2i{background-position: 0 -63px}
.style2grhic .s2j{background-position: -37px -63px}
.style2grhic .s2k{background-position: -79px -63px}
.style2grhic .s2l{background-position: -116px -63px}
.style2grhic .s2m{background-position: 0 -97px}
.style2grhic .s2n{background-position: -37px -97px}
.style2grhic .s2o{background-position: -79px -97px}

@media only screen and (max-width:1367px){
    #images{ padding-bottom:40px}

    .graphics .nav-tabs{width:21.7%;padding-right:10px;height:calc(100vh + 180px)}
    .graphics .tab-content{width:75%;}
    .graphics .clmna{width:31%}
    .graphics .clmnb{width:31%; margin:0 3.5%;}
    .graphics .clmnc{width:31%}

    .styleicons p{ margin-bottom:20px;color:#6E6E6E;}
    .styleicons .df,
    .styleicons i{margin:0 3px}
}
@media only screen and (max-width:1169px){
    .styleicons .radio span{ float:left; margin-bottom:50px !important;}
    .styleicons .df,
    .styleicons i{margin:5px}
}

@media only screen and (max-width:1025px){
    .customtabs .tab-content{padding:30px;}

    .graphics .nav-tabs{width:29.7%}
    .graphics .tab-content{width:67%}
    .graphics .clmna{width:48%}
    .graphics .clmnb{width:48%; margin:0;margin-left:4%;}
    .graphics .clmnc{width:100%; margin-top:30px;}

    #images .pull-right{ float:left !important;margin-top:10px;}
    .replacevideo{ padding:0;}
}

@media only screen and (max-width:980px){
    .graphics .nav-tabs,
    .graphics .tab-content{width:100%;padding:0;}
    .graphics .nav-tabs{ height:inherit; min-height:inherit;border:0;}
    .graphics h3{margin-top: 20px;}
    .graphics .clmn2{ margin-top:30px;}
    .graphics .clmna,
    .graphics .clmnb,
    .graphics .clmnc{width:100%;margin:0; margin-bottom:30px;}
    .graphics .custom-links{margin:0;padding:0;border:0; min-height:inherit; max-height:inherit;}
    .graphic-clear-btns{margin:0;}
}

@media only screen and (max-width:767px){
    .graphics h3 {margin-bottom:0;}
}

@media only screen and (max-width:479px){
    .graphics .panel-body{padding:15px 0;}
    .styleicons .radio span{margin-bottom:100px !important;}
}