.raw-email-editor{
    display: none;
    width: 100%;
}

.showEmailRaw .ql-editor{
    display: none;
}

.showEmailRaw .raw-email-editor{
    display: block;
}

.subtemp-icon{
    margin-bottom:20px;
    text-align: right;
    position: relative;
    z-index: 9;
}
.document-icn{
    width: 30px;
    height: 30px;
    border:none;
  }

.subtemp-type{
    margin-bottom:40px;
}
.subtemp-type span{
    color:#333;
    font-size: 75%;
    display: block;
    margin-bottom: 5px;
}
.subtemp-type .css-10nd86i{
    width:100%;
    margin:0;
    border-bottom:1px solid #ccc;
}
.subtemp-type .css-15k3avv{
    margin-top:1px;
}
.subtemp-type .css-1wy0on6{
    display: inline-block !important;
}

.editor{ position: relative}
#custom-toolbar{position:absolute;top:11px;right:10px;}

.ql-editor{min-height: 40vh;border-top:1px solid #ccc;}

.raw-email-editor{ min-height: 40vh;
border:1px solid #ccc;
    border-top:0;
    padding:12px 15px;
}