@font-face {
  font-family: "font-icons";
  src:url("fonts/font-icons.eot");
  src:url("fonts/font-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-icons.woff") format("woff"),
    url("fonts/font-icons.ttf") format("truetype"),
    url("fonts/font-icons.svg#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "font-icons";
		src: url("fonts/font-icons.svg#font-icons") format("svg");
	}
}

.df {
	font-family: "font-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: 0;
	animation: fadeIn 0.2s;
	animation-delay: .1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.df-alert:before {
  content: "\e000";
}
.df-angle-down:before {
  content: "\e001";
}
.df-angle-down-o:before {
  content: "\e002";
}
.df-angle-up:before {
  content: "\e003";
}
.df-angle-up-o:before {
  content: "\e004";
}
.df-attach:before {
  content: "\e005";
}
.df-back:before {
  content: "\e006";
}
.df-banking:before {
  content: "\e007";
}
.df-bell:before {
  content: "\e008";
}
.df-calculator:before {
  content: "\e009";
}
.df-calendar:before {
  content: "\e00a";
}
.df-chat:before {
  content: "\e00b";
}
.df-circle:before {
  content: "\e00c";
}
.df-close:before {
  content: "\e00d";
}
.df-close-o:before {
  content: "\e00e";
}
.df-coins:before {
  content: "\e00f";
}
.df-comments:before {
  content: "\e010";
}
.df-document:before {
  content: "\e011";
}
.df-dollar:before {
  content: "\e012";
}
.df-double:before {
  content: "\e013";
}
.df-download:before {
  content: "\e014";
}
.df-email:before {
  content: "\e015";
}
.df-expire:before {
  content: "\e016";
}
.df-handcoins:before {
  content: "\e017";
}
.df-help:before {
  content: "\e018";
}
.df-icon-minus:before {
  content: "\e019";
}
.df-in-progress:before {
  content: "\e01a";
}
.df-inc-child:before {
  content: "\e01b";
}
.df-inc-dividend:before {
  content: "\e01c";
}
.df-inc-emp:before {
  content: "\e01d";
}
.df-inc-mpay:before {
  content: "\e01e";
}
.df-inc-other:before {
  content: "\e01f";
}
.df-inc-rental:before {
  content: "\e020";
}
.df-inc-selfemp:before {
  content: "\e021";
}
.df-inc-ssecurity:before {
  content: "\e022";
}
.df-info:before {
  content: "\e023";
}
.df-invite:before {
  content: "\e024";
}
.df-line-bar:before {
  content: "\e025";
}
.df-location:before {
  content: "\e026";
}
.df-lock:before {
  content: "\e027";
}
.df-lockopen:before {
  content: "\e028";
}
.df-locksm:before {
  content: "\e029";
}
.df-locksmopen:before {
  content: "\e02a";
}
.df-message:before {
  content: "\e02b";
}
.df-message2:before {
  content: "\e02c";
}
.df-messages:before {
  content: "\e02d";
}
.df-mobile:before {
  content: "\e02e";
}
.df-mobile2:before {
  content: "\e02f";
}
.df-next:before {
  content: "\e030";
}
.df-no-user:before {
  content: "\e031";
}
.df-no-user2:before {
  content: "\e032";
}
.df-notes:before {
  content: "\e033";
}
.df-notes2:before {
  content: "\e034";
}
.df-phone:before {
  content: "\e035";
}
.df-plus:before {
  content: "\e036";
}
.df-prev:before {
  content: "\e037";
}
.df-purchase:before {
  content: "\e038";
}
.df-question:before {
  content: "\e039";
}
.df-quote:before {
  content: "\e03a";
}
.df-refinance:before {
  content: "\e03b";
}
.df-s1a:before {
  content: "\e03c";
}
.df-s1b:before {
  content: "\e03d";
}
.df-s1c:before {
  content: "\e03e";
}
.df-s1d:before {
  content: "\e03f";
}
.df-s1e:before {
  content: "\e040";
}
.df-s1f:before {
  content: "\e041";
}
.df-s1g:before {
  content: "\e042";
}
.df-s1h:before {
  content: "\e043";
}
.df-s1i:before {
  content: "\e044";
}
.df-s1j:before {
  content: "\e045";
}
.df-s1k:before {
  content: "\e046";
}
.df-s1l:before {
  content: "\e047";
}
.df-s1m:before {
  content: "\e048";
}
.df-s1n:before {
  content: "\e049";
}
.df-s1o:before {
  content: "\e04a";
}
.df-s1p:before {
  content: "\e04b";
}
.df-smile:before {
  content: "\e04c";
}
.df-soc-fb:before {
  content: "\e04d";
}
.df-soc-in:before {
  content: "\e04e";
}
.df-soc-tw:before {
  content: "\e04f";
}
.df-soc-utube:before {
  content: "\e050";
}
.df-soc-vimo:before {
  content: "\e051";
}
.df-sync:before {
  content: "\e052";
}
.df-thumbs-down:before {
  content: "\e053";
}
.df-thumbs-up:before {
  content: "\e054";
}
.df-thumbs-up-fill:before {
  content: "\e055";
}
.df-tick:before {
  content: "\e056";
}
.df-tick-circle:before {
  content: "\e057";
}
.df-trash:before {
  content: "\e058";
}
.df-upload:before {
  content: "\e059";
}
.df-write:before {
  content: "\e05a";
}

.searchfont input{
  background:url(fonts/search.svg) no-repeat right center;
  background-size:22px;
}
.document-icn{
  background:url(fonts/document-icn.svg) no-repeat;
  background-size:30px;
}
.tooltip-top::after {
  background:url(fonts/dwn-arw.png) no-repeat center 12px;
  background-size:22px;
}
.tooltip-left::after {
  background:url(fonts/right-arw.png) no-repeat left 0;
  background-size:13px;
}
.tooltip-right::after {
  background:url(fonts/left-arw.png) no-repeat right 0;
  background-size:13px;
}