.revert { padding-bottom:30px;}
.revert .pull-right{ margin-top:-5px;}
.revert .blue{ display:inline-block;vertical-align: top;line-height:30px; padding-right:15px;}
.revert .onoffswitch{ display:inline-block}

.colors .tabs__content{min-height:610px;}

.colorswatch{padding-bottom:20px;}
.colorswatch li{padding-left:110px;margin-bottom:20px;min-height:70px;position: relative;display:flex;flex-wrap:wrap;
    align-content:flex-end;}
.colorswatch .colorbox{position:absolute;width:90px;left:0;}
.colorswatch .dfup{top: -23px;
    left: 66px;
    width: 24px;
    height: 23px;
    animation-delay: 0.05s;}
.colorswatch .form-group{margin:0;}
.colorswatch .form-control{padding:0;}
.colorswatch .df{ position:absolute;right:0;bottom:0;background:#2b2b2b; color:#fff; padding:5px; font-size:14px;}
.colorswatch h3{color:#58595b;font-size:18px; font-weight:500;margin-bottom: 10px;width:100%;}

.compact-picker{width:200px !important;padding-bottom:3px}
.compact-picker span div{margin:0 5px 1px 0 !important;}
.compact-picker span:nth-child(10):after {content: '';display: block;height:22px;}

.library .radio{margin:0;}
.library-colors{font-size:18px; font-weight:500;}
.library-colors i{float:left;}
.library-colors i::before{margin:0 !important;width: 30px !important;height: 30px !important;border: 1px solid #bbb !important;background-color: #fff!important;}
.library-colors i::after{top:4px !important;;left:4px !important;width: 22px !important;height: 22px !important;border: 0 !important;background-color:#00A7F8 !important;}
.library-colors label{display:block;margin:0 0 20px 0 !important; vertical-align:middle;overflow:hidden}
.library-colors ul{float:left;width:120px;position:relative;display: flex;flex-wrap: wrap;margin-left:20px;}
.library-colors ul li{width:56px;height:40px;display:inline-block;}
.library-colors .midcolor{position:absolute;height:20px;width:20px;left:calc(50% - 13px);top:calc(50% - 11px)}
.library-colors .colorname{float:left;margin:22px 0 0 10px;}
.library-colors .colorname{max-width: 70px;word-break: break-all;position: relative;}

.preview{ padding:10px 20px 0 40px;}
.preview h3{ margin:0 0 10px 0;color:#95989A; font-size:16px;}

.preview .header{background:#fafafa; min-height:46px;padding:10px;font-size:13px;}
.preview .header .logo{margin:0}
.preview .header img{width:150px}
.preview .header .pull-right{margin-top:4px;    display: inline-flex;
    align-items: center;}
.preview .header .pull-right i{margin-left:5px;}

.leftpanel{background: #ebebeb;width:20%;padding:0 0 85px 0;}
.leftpanel .title{padding: 8px 0 6px 18px;font-size: 13px;line-height: 14px;font-weight: 500;border-bottom: 1px solid #fff;}
.leftpanel li{padding:25px 10px;font-size: 13px;border-bottom: 1px solid #fff;}
.leftpanel li.bar{padding:0;height:10px;width:33%}
.leftpanel li.current{color:#fff;border-bottom: 0;}

.rightpanel{padding:50px 0 0 60px;}
.rightpanel h3{margin-bottom: 5px;font-size: 16px;line-height: 16px;font-weight: bold;}
.rightpanel p{margin-bottom:50px;font-size:12px;color:#777}
.rightpanel .form-label{position:absolute;top:-22px;left:0;font-size:13px;color:#777;opacity:1;}
.rightpanel .form-group{padding:0 0 5px 0;border: 0;border-bottom: 1px solid #ccc;position:relative;margin-bottom:40px;}
.rightpanel .form-group.mid{border: 0;}

.rightpanel .col{width:45%;float:left;}
.rightpanel .mid{width:5%;float:left;margin-left:4%;height: 30px;}
.rightpanel .backbtn{color:#95989a;font-size:12px;margin-top:8px;}
.rightpanel .backbtn .df{font-size:16px;margin:0;}

.library-list{position: relative;}
.edit-link{position:absolute;bottom:-5px;left:180px;z-index:999;color:#00a7f8; cursor: pointer}

@media(min-width:1400px){
    .library-colors .colorname{max-width: 90px;}
}
@media only screen and (max-width:1023px){
    .preview{ padding:0;margin-top:40px;}
}