.tooltip {
    position: relative;
    font-family: inherit;
    opacity:1;
    display: initial;
}

.tooltip-trigger {
    display: inline-block;
    text-decoration: underline;
}

.tooltip-bubble {
    min-width: 200px;
    position: absolute;
    z-index: 10;
}
.tooltip-bubble::after {
    content: "";
    position: absolute;
}

.tooltip-top {
    bottom: 130%;
    left: 50%;
    padding-bottom: 9px;
    transform: translateX(-50%);
}
.tooltip-top::after {
    border: 0;
    bottom: 0;
    left: calc(50% - 8px);
    width:22px;
    height:22px;
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    padding-top: 9px;
    transform: translateX(-50%);
}
.tooltip-bottom::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(0, 0, 0, 0.7);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-left {
    top: 50%;
    right: 100%;
    padding-right: 9px;
    transform: translateY(-50%);
}
.tooltip-left::after {
    top: calc(50% - 11px);
    right:-12px;
	border: 0;
    bottom: 0;
    width:22px;
    height:22px;
}

.tooltip-right {
    top: 50%;
    left: 100%;
    padding-left: 9px;
    transform: translateY(-50%);
}
.tooltip-right::after {
    top: calc(50% - 11px);
    left: -12px;
    border: 0;
    bottom: 0;
    width:22px;
    height:22px;
}

.tooltip-message {
    background: #fff;
    border:1px solid #C7C7C7;
    box-shadow: 0 0 8px #ccc;
    border-radius:0;
    color: #95989A;
    font-size: 13px;
    line-height: 1.4;
    padding: 12px;
}