.raw-email-editor, .raw-info-editor{
    display: none;
    width: 100%;
}

.showEmailRaw .ql-editor, .showInfoRaw .ql-editor{
    display: none;
}

.showEmailRaw .raw-email-editor, .showInfoRaw .raw-info-editor{
    display: block;
    min-height: 40vh;
    border:1px solid #ccc;
    border-top:0;
    padding:12px 15px;
}

.revert-default{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    margin-bottom:20px;
}
.revert-default .pull-right{
    display:inline-flex;
    align-items:center;
}
.revert-default .blue{
    margin-right:10px;
}

.status{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    margin:30px 0;
    color:#00A7F8;
}
.status div{
    margin-left:10px;
}
.sub-templates{
    border:1px solid #ddd;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    margin-bottom: 15px;
}
.sub-templates div{
    background:#006699;
    color:#fff;
    font-size: 13px;
    padding: 5px 4px;
    margin:4px;
    text-align: center;
    flex-basis: 30%;
    cursor: pointer;
}
.editor{ position: relative}
#custom-toolbar{position:absolute;top:11px;right:10px;}