.centered-modal.in {
    display: flex !important;
}
.centered-modal .modal-dialog {
    margin: auto;
}
.centered-modal .modal-body {
    height: 70vh;
    overflow: auto;
    padding-top:30px;
}
.modal-content{
    border-radius:0;
}
.modal-dialog{
    width:80%;
}
.modal-content{
    padding-bottom: 15px !important;
}
.modal-header{
   border:0;
   background:#00A7F8;
   color:#fff;
}
.modal-header{
    border:0;
    background:#00A7F8;
    color:#fff;
}
.modal-body{
    overflow: hidden;
}
.modal-body h3{
    margin:0;
    margin-bottom: 15px;
    font-size: 16px;
    color:#666;
}
.modal-body h5{
    margin:0;
    margin-bottom: 10px;
    font-size: 14px;
    color:#666;
}
.modal-body .form-control {
    color: #006699;
}
.active {
    display: block;
    padding-left: 15px;
}

.react-confirm-alert-overlay {
    z-index: 99999;
    background: rgba(0, 0, 0, 0.25);
    }
.react-confirm-alert-body{
    border-radius:0;
    box-shadow: 0 0 12px #999;
    text-align: center;
    width: 480px;
    padding:50px;
}
.react-confirm-alert-body h1{
    color:#00A7F8;
    margin-bottom:20px;
    font-size: 24px
}
.react-confirm-alert-button-group{
    border-top:1px solid #ddd;
    padding-top:20px;
    justify-content: center;
}
.react-confirm-alert-button-group > button{
    background:#00A7F8;
    border:1px solid #00A7F8;
    width:80px;
}
.react-confirm-alert-button-group > button:first-child{
    background:#dedede;
    color:#333;
    border:1px solid #999;
}
